In [1]:
import pandas as pd

In [6]:
df1 = pd.read_csv("C:\\Users\\lakit\Downloads\\National Transport Report Tables — 2020_2021 - Inter Provincial Bus Routes – Semi Luxury Buses (As at May 2017) (1).csv")

In [7]:
df1.head()

,No,Route No.,Origin,Destination,No of Buses (Semi Luxury),Operated Buses Per Day,Distance (KM),No of Trip Per Day (Both Sides),Operated KM Per Day,Travel Time (hours)
0,1.0,2,COLOMBO,MATARA,12,12,160.2,24,3844.8,4:45
1,2.0,2/4-3,ANURADHAPURA,MATARA,3,3,376.0,4,1504.0,10:30
2,3.0,2/8,MATARA,MATALE,2,2,301.7,2,603.4,9:00
3,4.0,2/ 48,KADURUWELA,MATARA,2,2,382.4,2,764.8,10:40
4,5.0,3 - 1,COLOMBO,EMBILIPITIYA,1,1,165.8,2,331.6,4:25

In [8]:
df1.dtypes

No                                 float64
Route No.                           object
Origin                              object
Destination                         object
No of Buses (Semi Luxury)            int64
Operated Buses Per Day               int64
Distance (KM)                      float64
No of Trip Per Day (Both Sides)      int64
Operated KM Per Day                float64
Travel Time (hours)                 object
dtype: object

In [9]:
df1.isnull().sum()

No                                 1
Route No.                          0
Origin                             0
Destination                        0
No of Buses (Semi Luxury)          0
Operated Buses Per Day             0
Distance (KM)                      0
No of Trip Per Day (Both Sides)    0
Operated KM Per Day                0
Travel Time (hours)                0
dtype: int64

In [10]:
df1.duplicated().sum()

0

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 10 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   No                               111 non-null    float64
 1   Route No.                        112 non-null    object
 2   Origin                           112 non-null    object
 3   Destination                      112 non-null    object
 4   No of Buses (Semi Luxury)        112 non-null    int64
 5   Operated Buses Per Day           112 non-null    int64
 6   Distance (KM)                    112 non-null    float64
 7   No of Trip Per Day (Both Sides)  112 non-null    int64
 8   Operated KM Per Day              112 non-null    float64
 9   Travel Time (hours)              112 non-null    object
dtypes: float64(3), int64(3), object(4)
memory usage: 8.9+ KB

In [15]:
df1.rename(columns={
    "No": "Serial_No",
    "Route No.": "Route_No",
    "Origin": "Origin",
    "Destination": "Destination",
    "No of Buses (Semi Luxury)": "No_of_Buses",
    "Operated Buses Per Day": "Buses_Per_Day",
    "Distance (KM)": "Distance_KM",
    "No of Trip Per Day (Both Sides)": "Trips_Per_Day",
    "Operated KM Per Day": "KM_Per_Day",
    "Travel Time (hours)": "Travel_Time"
}, inplace=True)

In [17]:
numeric_cols = ["Serial_No", "No_of_Buses", "Buses_Per_Day", "Distance_KM", "Trips_Per_Day", "KM_Per_Day"]
df1[numeric_cols] = df1[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [21]:
df1.head()

,Serial_No,Route_No,Origin,Destination,No_of_Buses,Buses_Per_Day,Distance_KM,Trips_Per_Day,KM_Per_Day,Travel_Time
0,1.0,2,COLOMBO,MATARA,12,12,160.2,24,3844.8,0 days 04:45:00
1,2.0,2/4-3,ANURADHAPURA,MATARA,3,3,376.0,4,1504.0,0 days 10:30:00
2,3.0,2/8,MATARA,MATALE,2,2,301.7,2,603.4,0 days 09:00:00
3,4.0,2/ 48,KADURUWELA,MATARA,2,2,382.4,2,764.8,0 days 10:40:00
4,5.0,3 - 1,COLOMBO,EMBILIPITIYA,1,1,165.8,2,331.6,0 days 04:25:00

In [24]:
df1.to_csv("cleaned_dataset.csv")